<img src="<%= @user.img_url %>" alt="user avatar" />
<h1><%= @user.username %> <%= link_to("Edit Profile", edit_user_path) if @current_user == @user %></h1>

<%= button_to("Delete Account", @user, method: :delete, data: {confirm: "Are you sure?"}) if @current_user == @user %>
