<div class="container">

  <h2>Search for a Beer!</h2>

  <div class="form">
    <%= form_for @beer do |f| %>
      <%= f.label :name %><br />
      <%= f.text_field :name %><br />

      <%= f.submit "Find Beer" %>
    <% end %>
  </div>
</div>
