/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face { font-family: "norwester";
              src: url('norwester.ttf');
              src: url('norwester.eot'),
                   url('norwester.otf'),
                   url('norwester.woff')
                   url('norwester.svg');
}

* {
  box-sizing: border-box;
  font-family: 'norwester', sans-serif;
}

/*make root font 10px*/
html {
  font-size: 62.5%;
}

body {
  background-color: #e8f2d7;
}

.content {
  margin: 2%;
}

h1 {
  font-size: 2.8rem;
}

nav {
  background-color: #e8f2d7;
  height: 110px;
  margin: -10px -10px 0 -10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-image: url("hop-logo.jpg");
  background-position: center;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.gravatar {
  display: inline;
}

.nav-links {
  font-size: 1.6rem;
}

.nav-links a {
  margin: 0 5px;
  color: black;
  text-decoration: none;
}

nav h1 {
  margin: auto 0;
  color: #8b986b;
  padding-left: 10px;
}

nav a {
  font-size: 9rem;
  text-decoration: none;
  color: inherit;
}

nav img {
  width: 100px;
}

.container {
  font-size: 2.4rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
}

.pub-container {
  background-color: #d7b763;
  border-radius: 30px;
  font-size: 2.4rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
}

.beer-show-container {
  background-color: white;
  border-radius: 30px;
  font-size: 2.4rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin: auto;
  max-width: 50%;
  border: 1px solid black;
  padding: 50px;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.beer-show {
  display: flex;
  margin: 50px 0;
}

.label {
  font-size: 1.3rem;
}

.beer-stats {
  display: flex;
  flex-flow: column wrap;
  margin-left: 50px;
  height: 200px;
  width: 300px;
}

.beer-all {
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.beer-all h2 {
  font-size: 2.2rem;
}

.beer-all-container {
  text-align: center;
}

.beer-all-show {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.beer-all-stats {
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  padding-left: 10px;
}

.user-beers-nav {
  text-align: center;
  height: 100px;
}

.user-beers-nav p {
  font-size: .8em;
}

.user-beers-all {
  display: flex;
  min-height: 450px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.delete {
  position: absolute;
  border: none;
  border-radius: 10px;
  right: 40px;
  margin: 2% 0;
  height: 40px;
  width: 100px;
  background-color: #cc6b6b;
  color: white;
}

.info {
  font-size: 1.5rem;
}

.beer-name-link {
  color: black;
  text-decoration: none;
}

input {
  margin-bottom: 10px;
  height: 20px;
  width: 300px;
}

input[type=submit] {
  width: 100px;
}

.edit {
  font-size: .5em;
  color: gray;
}

.edit a {
  color: inherit;
  text-decoration: none;
}

.edit a:hover {
  color: black;
}

.notice {
  font-size: 2em;
  color: #24e376
}

.error {
  font-size: 2em;
  color: red;
}
